<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You are on the stock page</h1>
    <p>current machine state</p>
    <p><%= machine[0].soda[0].qty %> </p>
    
    <% soda.forEach(soda => { %>
        <p><%= soda.name %></p>
    <% }) %>
</body>
</html>