#money {
    background-color: red;
    background-image: url("./dollar.jpg");
    background-position: center;
    background-size: cover;
    width: 220px;
    height: 80px;
    cursor: pointer;
    padding-top: 100px;
    margin: auto;
    /* margin-bottom: 50px;
    margin-top: 30px; */
}