#home_div {
    background-color: red;
    background-image: url(./bricks.jpg);
    height: 100vh;
    overflow: auto;
}

#homeRow {
    height: 100vh;
}

#moneyCol {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}

#machineCol {
    display: flex;
}

#machine {
    background-color: rgb(221, 155, 155);
    background-image: url(./soda.jpg);
    background-repeat: none;
    background-size: cover;
    border: 8px solid rgba(0,0,0,0.8);
    height: 650px;
    width: 400px;
    margin: auto;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    -webkit-box-shadow: 15px 15px 20px 1px rgba(0,0,0,.8); 
    box-shadow: 15px 15px 20px 1px rgba(0,0,0,.8);
}


