#sodaButtons {
    width: 300px;
    margin: 0 auto;
    margin-top: 60px;
}

Button {
    width: 70px;
    height: 35px;
    -webkit-box-shadow: 8px 8px 17px 1px rgba(0,0,0,0.9); 
    box-shadow: 8px 8px 17px 1px rgba(0,0,0,0.9);
}

.sodaRow {
    margin: 20px 0 20px 0;
    
}

.sodaDescription {
    font-family: 'DotGothic16', sans-serif;
    background-color: #A8C64E;
    height: 35px;
    line-height: 35px;
    border-radius: 10px;
    border: 1px solid black;
    -webkit-box-shadow: inset 10px 10px 29px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 10px 10px 29px 0px rgba(0,0,0,0.6);
    box-shadow: inset 10px 10px 29px 0px rgba(0,0,0,0.6);
}

.sodaDescription p {
    display: inline;
    padding: 10px;
}
